:root {
    --clr-primary: hsl(158, 36%, 37%);
    --clr-accent: hsl(30, 38%, 92%);

    --clr-neutral-dark: hsl(212, 21%, 14%);
    --clr-neutral: hsl(228, 12%, 48%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --ff-title: "Fraunces", sans-serif;
    --ff-body: "Montserrat", serif;

    --fw-title: 700;
    --fw-body: 500;

    --fs-body: 0.875em;
    --fs-title: 1.75em;
    --fs-small: 0.85em;

}

/* ///////////////////////////////////////// */
/* CSS reset taken from https://andy-bell.co.uk/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ///////////////////////////////////////// */


/* globals */
body {
    background: var(--clr-accent);
    text-align: left;
    font-family: var(--ff-body);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--clr-neutral-white);
    border-radius: 0.5em;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    width: min(100%, 300px);
    height: min(100%, 520px);
}

@media (min-width: 50em) {
    .grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        width: min(100%, 500px);
        height: min(100%, 375px);
    }
}

.product__img {
    background-image: url("../images/image-product-mobile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (min-width: 50em) {
    .product__img {
        background-image: url("../images/image-product-desktop.jpg");
        background-size: contain;
    }
}

.product__details {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 50em) {
    .product__details {
        padding: 2em;
    }
}

.product__category {
    text-transform: uppercase;
    font-family: var(--ff-body);
    font-weight: var(--fw-body);
    font-size: 0.85em;
    color: var(--clr-neutral);
    letter-spacing: 0.5ch;
    margin: 0;
}

.product__title {
    font-family: var(--ff-title);
    color: var(--clr-neutral-dark);
    font-size: 1.8em;
    font-weight: 900;
    line-height: 0.95;
}

@media (min-width: 50em) {
    .product__title {
        font-size: var(--fs-title);
        font-weight: var(--fw-title);
        max-width: 7em;
    }
}

.product__description {
    color: var(--clr-neutral);
    font-weight: var(--fw-body);
    padding-right: 0.75em;
    font-size: 0.85em;
}

@media (min-width: 50em) {
    .product__description {
        font-size: var(--fs-small);
        padding-right: 0.25em;
        line-height: 1.9;
    }
}

.product__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.product__price-sale {
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    font-weight: var(--fw-title);
    color: var(--clr-primary);
}

.product__price-original {
    font-size: var(--fs-small);
    color: var(--clr-neutral);
    text-decoration: line-through;
}

.btn {
    background: var(--clr-primary);
    color: var(--clr-neutral-white);
    border-radius: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
}

.btn__icon {
    display: inline;
    height: 1.25em;
    width: 1.25em;
}